body{
	height: 1000px;
	width: 100%;
	margin: 0;
}
@font-face{
	font-family: 'ArialRoundedMTBold';
	src: url(../fonts/ArialRoundedMTBold.ttf);
}
.index_container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 100%;
	height: 1970px;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	width: 100%;
	height: 3000px;
	z-index: 99;
}
#cat_face{
	width: 300px;
	position: fixed;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	z-index: 99;
}
#red_scroll_arrow{
	width: 90px;
	position: fixed;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
	z-index: 100;
}
#logo_text{
	position: absolute;
	width: 450px;
	left: 48%;
	top: 1600px;
	transform: translate(-50%, -50%);
}
.benefits{
	position: absolute;
	background-color: transparent;
	color: #58b3db;
	width: 300px;
	height: 80px;
	color: white;
	top: 1620px;
	left: 70%;
	text-align: center;
	font-size: 30px;
}
.benefits:hover .nav_text{
	color: white;
}
.benefits:hover{
	background-color: #58b3db;
	border-radius: 20px;
}
.personality_guide{
	position: absolute;
	background-color: transparent;
	color: #58b3db;
	width: 300px;
	height: 80px;
	top: 1710px;
	left: 70%;
	text-align: center;
	font-size: 30px;
}
.personality_guide:hover .nav_text{
	color: white;
}
.personality_guide:hover{
	background-color: #58b3db;
	border-radius: 20px;
}
.nav_text{
	position: absolute;
	color: #58b3db;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-family: 'ArialRoundedMTBold';
}
.benefits_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 1600px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: white;
	padding: 30px;
}
#benefits_description{
	position: absolute;
	width: 40%;
	right: 5%;
	font-size: 20px;
	line-height: 25px;
	margin: 20px;
	text-overflow: hidden;
	font-family: 'Noto Sans', sans-serif;
	z-index: 102;
}
#venndiagram{
	position: absolute;
	width: 600px;
	left: 5%;
	z-index: 101;
}
.redimagebox{
	position: absolute;
	width: 50%;
	height: 2000px;
	top: 800px;
	transform: translate(100%);
	background-color: #ea3434;
	z-index: 1;
}
.reducedstress_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 2450px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 105;
}
.benefit_description{
	position: absolute;
	width: 40%;
	left: 5%;
	font-size: 20px;
	line-height: 25px;
	margin: 20px;
	font-family: 'Noto Sans', sans-serif;
	z-index: 102;
}
.benefit_title{
	position: relative;
	color: #58b3db;
	left: 5%;
	white-space: nowrap;
	font-family: 'ArialRoundedMTBold';
	font-size: 25px;
	z-index: 103;
	margin: 20px;
}
#lowcare_image{
	position: absolute;
	top: 1500px;
	width: 600px;
	right: 7%;
	z-index: 110;
}
.sleeping_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 3000px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 105;
}
#sleeping_image{
	position: absolute;
	top: 900px;
	width: 700px;
	right: 7%;
	z-index: 110;
}
.lowcare_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 3600px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 106;
}
#reducedstress_image{
	position: absolute;
	top: 300px;
	width: 600px;
	right: 7%;
	z-index: 110;
}
.personality_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 1600px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: white;
	padding: 30px;
}
#breed_description{
	position: absolute;
	width: 40%;
	left: 5%;
	font-size: 20px;
	line-height: 25px;
	margin: 20px;
	text-overflow: hidden;
	font-family: 'Noto Sans', sans-serif;
	z-index: 102;
}
.breeds_description{
	position: absolute;
	width: 40%;
	right: 5%;
	font-size: 20px;
	line-height: 25px;
	margin: 20px;
	font-family: 'Noto Sans', sans-serif;
	z-index: 102;
}
.breed_title{
	position: relative;
	color: #58b3db;
	left: 52%;
	white-space: nowrap;
	font-family: 'ArialRoundedMTBold';
	font-size: 25px;
	z-index: 103;
	margin: 20px;
	z-index: 115;
}
.redimagebox2{
	position: absolute;
	width: 50%;
	height: 2000px;
	top: 800px;
	transform: translate(0%);
	background-color: #ea3434;
	z-index: 1;
}
.bengal_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 2400px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 100;
}
.persian_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 3000px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 100;
}
.siamese_header{
	position: absolute;
	width: 100%;
	height: 400px;
	top: 3600px;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ea3434;
	box-sizing: border-box;
	background-color: none;
	z-index: 100;
}
#catfaces{
	position: absolute;
	width: 650px;
	right: 5%;
	z-index: 101;
}
#bengal_image{
	position: absolute;
	top: 150px;
	width: 700px;
	left: 12%;
	z-index: 2;
}
#persian_image{
	position: absolute;
	top: 780px;
	width: 700px;
	left: 12%;
	z-index: 2;
}
#siamese_image{
	position: absolute;
	top: 1420px;
	width: 700px;
	left: 12%;
	z-index: 2;
}
.logo_header{
	position: absolute;
	left: 10px;
	top: 10px;
	width: 100%;
	height: 600px;
	z-index: 200;
}
#full_logo{
	position: absolute;
	width: 140px;
	top: 10px;
	left: 10px;
}
.personality_guide2{
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border-width: 10px;
	border-color: #58b3db;
	color: #58b3db;
	width: 180px;
	height: 50px;
	top: 70px;
	right: 20px;
	text-align: center;
	border: 5px;
	border-radius: 10px;
	border-style: solid;
	border-color: #58b3db;
	box-sizing: border-box;
}
.live_personality_guide2{
	position: absolute;
	background-color: #58b3db;
	border-radius: 10px;
	width: 180px;
	height: 50px;
	top: 70px;
	right: 20px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	box-sizing: border-box;
}
.personality_guide2:active{
	background-color: #58b3db;
}
.personality_guide2:active .nav_text2{
	color: white;
}
.benefits2{
	position: absolute;
	background-color: white;
	border-radius: 10px;
	border-width: 10px;
	border-color: #58b3db;
	width: 180px;
	height: 50px;
	top: 10px;
	right: 20px;
	text-align: center;
	border: 5px;
	border-radius: 10px;
	border-style: solid;
	border-color: #58b3db;
	box-sizing: border-box;
}
.live_benefits2{
	position: absolute;
	background-color: #58b3db;
	border-radius: 10px;
	width: 180px;
	height: 50px;
	top: 10px;
	right: 20px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	box-sizing: border-box;
}
.benefits2:active{
	background-color: #58b3db;
}
.benefits2:active .nav_text2{
	color: white;
}
.nav_text2{
	position: absolute;
	color: #58b3db;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-family: 'ArialRoundedMTBold';
	font-size: 18px;
}
.live_nav_text2{
	position: absolute;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	font-family: 'ArialRoundedMTBold';
	font-size: 18px;
}
.backtotop{
	position: absolute;
	top: 480px;
	height: 50px;
	width: 180px;
	right: 20px;
	background-color: white;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
}